body {
  height: 100vh;
  overflow: hidden;
}
.App {
  height: 100vh;
  overflow: hidden;
}

.header {
  margin-bottom: 50px;
  background-color: #fff;
}

.content {
  padding: 10px;
  padding-bottom: 5em;
  min-width: 300px;
}
.description {
  padding: 0 10px 0 0;
}

.container {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fff;
}
